*:not(:defined) {
  visibility: hidden;
}

@font-face {
  font-family: "Pump-Light";
  src: url("../fonts/PumpLight.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SFUI Display";
  src: url("../fonts/SFUIDisplay-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "SFUI Display";
  src: url("../fonts/SFUIDisplay-Semibold.ttf");
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 95vw;
  max-width: 1000px;
}

.classicLink {
  text-decoration: underline;
}
