*:not(:defined) {
  visibility: hidden;
}

@font-face {
  font-family: "Pump-Light";
  src: url("../fonts/PumpLight.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.ttf");
  font-weight: 600;
}

.nowrap {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
